@import url('https://unpkg.com/css.gg@2.0.0/icons/css/sync.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --totalNumOfTiles: 9;
    --icon-length: 250%;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

main {
    border: 2px solid black;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard {
    margin: 0 2rem;
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
}

#computerPlayer > .row > *:hover {
    border: 3px solid red;
}

.row {
    height: calc(50vh / var(--totalNumOfTiles));
    display: flex;
}

.loc {
    width: calc(50vh / var(--totalNumOfTiles));
    border: 1px solid black;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.no-pointer {
    cursor: default;
}

.numbering,
.alphabets {
    border: none;
}

.player {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    align-self: center;
}

.patrolBoat {
    border: 2px solid red;
    background-color: lightcoral;
}

.destroyer {
    border: 2px solid blue;
    background-color: lightblue;
}

.battleShip {
    border: 2px solid orange;
    background-color: lightgoldenrodyellow;
}

.carrier {
    border: 2px solid grey;
    background-color: lightgray;
}

.clicked {
    filter: brightness(0.8);
    cursor: not-allowed;
}

.clicked.patrolBoat,
.clicked.destroyer,
.clicked.carrier,
.clicked.battleShip {
    color: red;
}

.lost * {
    cursor: not-allowed;
}

.shipCount {
    width: 100%;
    padding: 0.8rem;
    border-right: 1px solid gray;

    grid-area: fleets;
    /* border: 1px solid red; */
}

.battleShipIconDiv,
.destroyerIconDiv,
.patrolBoatIconDiv {
    display: flex;
    gap: 0.5rem;
}

.shipIcon {
    height: 1rem;
    margin-top: 0.5rem;
    background-color: rgb(166, 236, 166);
    display: flex;
}

.icon,
.shipIcon {
    border: 1px solid rgb(78, 221, 78);
}

.sunk,
.sunk > .icon {
    border: 1px solid rgb(248, 83, 83);
    background-color: rgb(252, 143, 143);
}

.carrierIcon {
    width: calc(var(--icon-length) / 4);
}

.carrierIcon > .icon {
    width: calc(var(--icon-length) / 3.125);
}

.battleShipIcon {
    width: calc(var(--icon-length) / 6.25);
}

.battleShipIcon > .icon {
    width: calc(var(--icon-length) / 3);
}

.destroyerIcon {
    width: calc(var(--icon-length) / 12.5);
}

.destroyerIcon > .icon {
    width: calc(var(--icon-length) / 2);
}

.patrolBoatIcon {
    width: calc(var(--icon-length) / 25);
}

.patrolBoatIcon > .icon {
    width: calc(var(--icon-length));
}

.remainingFleet {
    font-size: 1rem;
}

.boardUI {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-template-areas: 'fleets start';

    border: 1px solid gray;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.tipDiv {
    grid-area: start;
    padding: 0.8rem;
}

.tipDiv > p {
    text-wrap: wrap;
    font-style: italic;
    font-size: 1rem;
}

.hover {
    border: 3px solid black;
}

.startBtn {
    margin: 0.5rem 0;
    padding: 1rem;
    cursor: pointer;
}

.randomiseBtn {
    margin: 0.5rem 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}
