* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

main {
    border: 2px solid black;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard {
    width: 30%;
    height: 65%;
    margin: 0 2rem;
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
}

.row {
    height: calc(100% / 11);
    display: flex;
}

.loc {
    width: calc(100% / 11);
    border: 1px solid black;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.numbering,
.alphabets {
    border: none;
}

.gameboard .row:nth-child(2) > .loc:first-child {
    border: none;
}

.player {
    margin-bottom: 1rem;
    align-self: center;
    font-size: 1.2rem;
}

.patrolBoat {
    border: 2px solid red;
    background-color: lightcoral;
}

.destroyer {
    border: 2px solid blue;
    background-color: lightblue;
}

.carrier {
    border: 2px solid grey;
    background-color: lightgray;
}

.battleShip {
    border: 2px solid orange;
    background-color: lightgoldenrodyellow;
}

.clicked {
    filter: brightness(0.5);
    cursor: not-allowed;
}
